.match-card{
  // aspect-ratio: 1/1;
  height: 100%;
  transition: all 0.3s;
  h2,h3{
    font-size: 18px;
    text-align: center;
  }
  h3{
    font-size: 14px;
  }

  &__team{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .result{
      text-align: center;
      flex-grow: 1;

      strong{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .top{
        color: red;
        font-weight: 900;
        margin: 0 20px;
      }

      .bottom{
        color: green;
        font-weight: 900;
        margin: 0 20px;
      }
    }

    .team{
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100px;

      img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
      }

      span{
        font-weight: 900;
        margin-top: 10px;
        text-align: center;
      }
    }
  }

  &__score{
    margin-top: 35px;
    .score{
      display: flex;
      text-align: center;
      justify-content: space-between;
      width: 100%;
      padding: 15px 10px;

      span{
        &:last-child, &:first-child{
          font-weight: 900;
        }
      }
    }
  }
}
