.main{
  display: flex;
  flex-direction: column;
  height: 100vh;


  .segment{
    width: 100%;
    .ant-segmented-group{
      width: 100%;

      label{
        width: calc(100% / 6);
        // font-size: clamp(10px, 15px ,20px);
        padding: 10px 0;
      }
    }

  }

  .ant-segmented-group{


    .ant-segmented-thumb{
      background-color: #1677ff !important;
    }

    .ant-segmented-item-selected{
      color: #fff;
    }
  }

  .ant-segmented .ant-segmented-item-selected{
    background-color: #1677ff !important;
  }

  .page{
    flex-grow: 1;
    overflow: auto;
    scroll-padding-top: 20px;

    &.spin{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
