.main{

  .segment{
    width: 100%;

    .ant-segmented-group{
      width: 100%;

      label{
        width: calc(100% / 6);
        // font-size: clamp(10px, 15px ,20px);
        padding: 10px 0;
      }

      .ant-segmented-thumb{
        background-color: #4096ff !important;
      }

      .ant-segmented-item-selected{
        color: #fff;
      }
    }
  }

  :where(.css-dev-only-do-not-override-1jr9qlj).ant-segmented .ant-segmented-item-selected{
    background-color: #4096ff !important;
  }
}
